
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: auto;
  scroll-behavior: auto;
  touch-action: pan-y;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overscroll-behavior: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

#root {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-gray-100 text-foreground;
  }
}
